# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ==========================================
# Virtual environments
# ==========================================

.venv/
venv/
env/
ENV/

# ==========================================
# Environment variables
# ==========================================

.env
.env.*
!.env.example

# ==========================================
# Build / Packaging
# ==========================================

build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

pip-wheel-metadata/

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==========================================
# Type checking
# ==========================================

.mypy_cache/
.pyre/
.pytype/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating systems
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Alembic
# ==========================================

app/db/migrations/__pycache__/

# ==========================================
# Python cache
# ==========================================

*.pyc

# ==========================================
# Local databases
# ==========================================

*.db
*.sqlite
*.sqlite3