# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# OS
.DS_Store

# Temporary files
*.log

# PaddleOCR cache (solo si alguna vez queda dentro del proyecto)
.paddlex/